/* Container styles */
.container {
  background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.container h1 {
  align-items: center;
  margin-left: 30%;
  color: azure;
}

/* Email input styles */
.container input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffa600;
  border-radius: 4px;
  font-size: 14px;
}

/* Password input styles */
.container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffa600;
  border-radius: 4px;
  font-size: 14px;
}

/* Error message styles */
.container small {
  color: #d9534f;
  font-size: 12px;
}

/* Reset button styles */
.container label[severity="warning"] {
  cursor: pointer;
  color: #d9534f;
}
/* Change background color of input field when focused */
.mat-form-field.mat-focused .mat-form-field-underline {
  background-color: lightblue;
}

/* Login link styles */
.container label[routerLink="/login"] {
  color: rgb(227, 252, 0);
  cursor: pointer;
}

/* Register button styles */
.container button[type="submit"] {
  margin-left: 40%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.container button[type="submit"]:hover {
  background-color: #0056b3;
}
/* Apply Hypetype font to h1 */
h1 {
  font-family: "Hypetype", cursive;
  font-weight: 800;
  /* font-size: xx-large; */
  font-family: arial black;
  font-size: 30px;
  background-image: linear-gradient(to right, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 35s linear infinite; /* Add other styles as needed (color, size, etc.) */
}
@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}
