<div class="container">
  <h1>Register</h1>
  <form [formGroup]="RegistrationForm" (ngSubmit)="registerUser()">
    <div class="email">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div
        *ngIf="
          RegistrationForm?.invalid && RegistrationForm?.get('email').touched
        "
      >
        <small *ngIf="RegistrationForm?.get('email').errors?.required"
          >Email is required.</small
        >
        <small
          *ngIf="
            !RegistrationForm?.get('email').errors?.required &&
            RegistrationForm?.get('email').errors?.email
          "
          >Invalid email format.</small
        >
      </div>
    </div>

    <div class="password">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
    </div>
    <div class="routerpage">
      <div>
        <label label="Reset" severity="warning" (click)="resetUser()"
          >Reset</label
        >
      </div>
      <div>
        <label style="color: rgb(227, 252, 0)" routerLink="/login">
          Have Account,Login</label
        >
      </div>
    </div>

    <button type="submit" routerLink="/login">Register Here</button>
  </form>
</div>
