<!--  -->
<body *ngFor="let product of cart">
  <div class="wrapper">
    <!-- Replace with dynamic image data -->
    <div class="item1 image-item">
      <img src="{{ product.images[1] }}" alt="Image 1" />
    </div>
    <div class="item2 image-item">
      <img src="{{ product.images[2] }}" alt="Image 2" />
    </div>
    <div class="item3 image-item">
      <img src="{{ product.images[3] }}" alt="Image 3" />
    </div>
    <div class="item4 image-item">
      <img src="{{ product.images[4] }}" alt="Image 4" />
    </div>
  </div>

  <div class="description">
    <!-- Replace with dynamic product data -->
    <div class="title">
      {{ product.title }}<br />
      price: ${{ product.price }} <br />
      discount :{{ product.discountPercentage }}
    </div>

    <div class="price">final price:{{ product.final_price }}</div>
    <div class="buttons">
      <a>
        {{ product.quantity }}
      </a>
      <a href="#" class="button" (click)="counteradd(product)">add</a>
      <a href="#" class="button" (click)="countersub(product)">sub</a>
      <a href="#" class="button" (click)="remove(product)">remove</a>
    </div>
  </div>
</body>
