<div class="header">
  <h1><strong>Checkout Section</strong></h1>
</div>
<!-- {{ cart | json }} -->
<div class="container">
  <div class="carousel">
    <div *ngFor="let product of cart">
      <div class="card" style="width: 27rem; border-radius: 25px">
        <div class="img-container" *ngFor="let image of product.images">
          <img
            class="img-container"
            style="width: 25rem; border-radius: 25px"
            src="{{ image }}"
            alt="{{ image }}"
          />
        </div>
        <!-- {{ product | json }} -->
        <div class="card-body" style="border-color: black; border-radius: 5px">
          <h5 class="card-title">
            <strong>{{ product.title }}</strong>
          </h5>
          <p class="card-text">
            <strong>Price: ${{ product.price }}</strong>
          </p>
          <p class="card-text">
            <strong>Description: {{ product.description }}</strong>
          </p>
        </div>
        <div>
          <button
            class="btn btn-primary btn-lg active"
            name="+"
            (click)="counteradd(product)"
          >
            +
          </button>
          <button
            class="btn btn-primary btn-lg active"
            name="-"
            (click)="countersub(product)"
          >
            -
          </button>
          <div class="final">
            <h3>Qyantity : {{ product.quantity }}</h3>
            <h3>Final price with discunt :{{ product.final_price }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
