.card {
  margin: 1rem;
  display: inline-flex;
}

.card img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .card {
    width: calc(33.33% - 2rem);
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(100% - 2rem);
  }
}
