<p-menubar>
  <ng-template pTemplate="start">
    <img src="../../assets/buddha.jpg" alt="Your Logo" height="40" />
  </ng-template>
  {{ filteredData | json }}
  <div class="hommebutton">
    <p-button
      label="Search"
      icon="pi pi-search"
      iconPos="right"
      (click)="
        [filtering(), togglehomepage(), sortingprices(), filteringrating()]
      "
      class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    ></p-button>

    <p-button
      label="HomePage"
      icon="pi pi-refresh"
      iconPos="right"
      (click)="resetsearch()"
      class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
    ></p-button>

    <p-button
      label="Checkout Page"
      icon="pi pi-shopping-cart"
      iconPos="right"
      (click)="togglechckoutpage()"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
    ></p-button>
  </div>
</p-menubar>
<!--  -->

<div *ngIf="togglecheckout">
  <!-- <div class="displayhomepage" *ngIf="toggle"> -->

  <div class="displayhomepage" *ngIf="toggle">
    <div
      [appBodercolor]="'purple'"
      class="card flex justify-content-center"
      *ngFor="let product of productdata"
    >
      <p-card header="{{ product.title }}" subheader="Card Subheader">
        <ng-template pTemplate="header">
          <img alt="Card" [src]="product.images[0]" />
        </ng-template>
        <p appBodercolor>
          {{ product.rating }}
        </p>
        <p appHovercolor [highightColors]="'purple'">
          {{ product.description }}
        </p>
        <span appHovercolor [highightColors]="'purple'">{{
          product.price | currency : "INR"
        }}</span>
        <ng-template pTemplate="footer">
          <p-button
            label="AddtoCart"
            icon="pi pi-check"
            (click)="addTocart(product)"
          >
          </p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

<!--  -->
<div *ngIf="togglecheckout">
  <div *ngIf="filteredProducts.length > 0">
    <div
      class="card flex justify-content-center"
      *ngFor="let product of filteredProducts"
    >
      <p-card header="{{ product.title }}" subheader="Card Subheader">
        <ng-template pTemplate="header">
          <img alt="Card" [src]="product.images[0]" />
        </ng-template>
        <h2>{{ product.title }}</h2>
        {{ product.rating }}
        <p>
          {{ product.description }}
        </p>
        <span>&#8377;${{ product.price }}</span>
        <ng-template pTemplate="footer">
          <p-button
            appHover
            label="AddtoCart"
            icon="pi pi-check"
            (click)="addTocart(product)"
          ></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

<app-checkout *ngIf="checkout" appTheme></app-checkout>
<!-- [cart]="cartData" -->
