<nav routerLink="" appTheme>
  <div class="card flex flex-wrap justify-content-center gap-3">
    <span class="p-input-icon-right">
      <i class="pi pi-spin pi-spinner"></i>
      <input
        type="text"
        pInputText="search"
        placeholder="Search product"
        [(ngModel)]="searchedvalue"
        (input)="onSearchChange($event)"
      />
    </span>
  </div>
  <!-- <div class="card flex flex-wrap justify-content-center gap-3">
    <span class="p-input-icon-right">
      <i class="pi pi-spin pi-spinner"></i>
      <input
        type="text"
        pInputText="search"
        pllaceholder="Search"
        [(ngModel)]="searchedvalue"
      />
    </span>   
  </div> -->
  <p-multiSelect
    [options]="category"
    [(ngModel)]="selectedCategories"
    optionLabel=""
    name="categories"
    placeholder="Select Categories"
    (onChange)="[updateFilteredDatacategory(), brandchange()]"
  ></p-multiSelect>

  <!-- brand -->
  <div *ngIf="filteredbrand.length === 0">
    <!-- <h2>Select Brand</h2> -->
    <p-multiSelect
      [options]="brand"
      [(ngModel)]="selectedcategorybrands"
      optionLabel=""
      name="brands"
      placeholder="Select brands"
      (onChange)="updateFilteredDatabrand()"
    ></p-multiSelect>
  </div>
  <!--  -->
  <div *ngIf="filteredbrand.length > 0">
    <!-- <h2>Select Brand</h2> -->
    <p-multiSelect
      [options]="filteredbrand"
      [(ngModel)]="selectedcategorybrands"
      optionLabel=""
      name="brands"
      placeholder="Select brands"
      (onChange)="updateFilteredDatabrand()"
    ></p-multiSelect>
  </div>

  <div>
    <!-- <h2>Select price</h2> -->
    <p-multiSelect
      [options]="price"
      [(ngModel)]="selectedPrices"
      optionLabel=""
      name="rating"
      placeholder="Select prices"
      (onChange)="updateFilteredDataprice()"
      optionGroup="single"
    ></p-multiSelect>
  </div>

  <button (click)="reset()">Reset search</button>
  <button routerLink="register">register</button>
</nav>

<router-outlet></router-outlet>
