/* Base styles */

.navbar {
  margin-top: 60px;
  position: fixed;
  width: 100%;
  /* background-color: red; */
  text-align: center;
}

.footer {
  margin-top: 250px;
  position: relative;
  display: inline-flex;
  width: 100%;
  background-color: rgb(170, 159, 159);
  text-align: center;
}
