<!-- <p>login works!</p>
<form class="container" [formGroup]="loginform">
  <h3>pleasse login here first</h3>
  <label for="email">Email</label>
  <input type="email" placeholder="email " [formControl]="email" />
  <h5 [hidden]="email.valid || email.untouched">enter correct email</h5>
  <input type="password" placeholder="password" [formControl]="password" />
  <h5 [hidden]="password.valid || password.untouched">
    enter correct password
  </h5>
  <button type="submit" (click)="login()">login</button>
  <button type="submit" (click)="reset()">resert</button>
</form>
{{ email.valid }}
{{ email.untouched }} -->

<p>login works!</p>
<!-- <form class="container" [formGroup]="loginform"> -->
  <h3>Please Login Here First</h3>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Enter Email"
      [formControl]="email"
      class="form-control"
    />
    <h5
      *ngIf="email.errors && (email.dirty || email.touched)"
      class="error-message"
    >
      email rewuired in proper format
    </h5>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      placeholder="Enter Password"
      [formControl]="password"
      class="form-control"
    />
    <h5
      *ngIf="password.errors && (password.dirty || email.touched)"
      class="error-message"
    >
      password rewuired
    </h5>
  </div>

  <button
    type="submit"
    [disabled]="loginform.invalid"
    (click)="login()"
    class="btn btn-primary"
  >
    Login
  </button>
  <button type="button" (click)="reset()" class="btn btn-secondary">
    Reset
  </button>
</form>
