<p>login works!</p>
<form class="container" #signupform="ngForm">
  <h3>Please Login Here First</h3>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Enter Email"
      required
      class="form-control"
      pattern="^([a-zA-Z0-9_\-\+\.]+)@([a-zA-Z0-9\-]+\.)+[a-zA-Z]{2,}$ "
      ngModel
      #email="ngModel"
    />
    <h5 *ngIf="email.valid || email.untouched">enter correct email</h5>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      placeholder="Enter Password"
      required
      class="form-control"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$
      "
      ngModel
      #password="ngModel"
    />
    <h5 *ngIf="password.valid || password.untouched">enter correct password</h5>
  </div>

  <button type="submit" (click)="register(signupform)" class="btn btn-primary">
    register
  </button>
  <button type="button" (click)="reset(signupform)" class="btn btn-secondary">
    Reset
  </button>
</form>
