<form [formGroup]="Signupform" (ngSubmit)="loginUser()">
  <span *ngIf="username && username.invalid && username.touched"
    >please enter the valid name</span
  >
  <input
    placeholder="username"
    type="text"
    formControlName="username"
  /><br /><br />

  <span *ngIf="email && email.invalid && email.touched"
    >please enter the valid Email</span
  >
  <input placeholder="email" type="text" formControlName="email" /><br /><br />
  <span *ngIf="address && address.invalid && address.touched"
    >please enter the valid address</span
  >
  <input
    placeholder="address"
    type="text"
    formControlName="address"
  /><br /><br />
  <span *ngIf="city && city.invalid && city.touched"
    >please enter the valid city</span
  >
  <input placeholder="city" type="text" formControlName="city" /><br /><br />

  <span *ngIf="pincode && pincode.invalid && pincode.touched"
    >please enter the valid pincode</span
  >
  <input
    placeholder="pincode"
    type="text"
    formControlName="pincode"
  /><br /><br />
  <span *ngIf="password && password.invalid && password.touched"
    >please enter the valid passsword</span
  >
  <input
    placeholder="password"
    type="text"
    formControlName="password"
  /><br /><br />
  <br /><br />
  <button routerLink="del">
    <!-- <br /><br /><button [disabled]="email?.invalid" routerLink="delivery"> -->
    login
  </button>
</form>

<!-- <p>Userdetail form works!</p>-->
<router-outlet></router-outlet>
